#CriteriaForm {

  margin-left: 10px;
  /*margins were added beacuse of problem with form-group behavior*/
  margin-right:15px;
  margin-left:15px;
  /*margin-bottom: 30px;*/
  margin: auto;
  width:60%;
}
/*header--------------------------------*/
#navigation-purple {
    padding-bottom: 0px;
    margin: 0;
    background-color: #7a60e9;
    border: none;
    border-radius: 0;
}

#navigation-purple .nav {
    margin-left: -15px;
}

#navigation-purple .nav > li {
    border-bottom: 2px solid transparent;
    margin-bottom: 34px;
}

#navigation-purple .nav > li:hover {
    border-bottom-color: #fff;
}

#navigation-purple .nav > li:focus {
    background-color: transparent;
}

#navigation-purple .nav > li > a {
    font-size: 18px;
    color: white;
}

#navigation-purple .nav > li > a:hover,
#navigation-purple .nav > li > a:focus {
    background-color: transparent;
}

#navigation-purple .navbar-collapse {
    padding-top: 35px;
}

#navigation-purple .avatar {
    height: 80px;
    float: right;
    margin-top: 19px;
}

#navigation-purple .icon-bar {
    background-color: white;
}

#navigation-purple .navbar-toggle {
    border-color: white;
    float: left;
    margin-left: 25px;
    margin-top: 30px;
}

#navigation-purple .navbar-toggle:hover,
#navigation-purple .navbar-toggle:focus {
     background-color: transparent;
}

@media screen and (max-width: 767px) {

    #navigation-purple .navbar-collapse {
        padding-top: 0;
    }

    #navigation-purple ul>li {
        float: left;
        clear: left;
        margin-left: 4px;
        padding-bottom: 8px;
        margin-bottom: 5px !important;
    }

    #navigation-purple ul>li>a {
        padding-bottom: 2px;
    }

    #navigation-purple ul>li:hover {
        border-bottom: 2px solid white;
    }

    #navigation-purple .avatar {
        height: 60px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
}
/*----------------------------------------------------*/
/* =Footer
-------------------------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

  /* =Info Bar
-------------------------------------------------------------- */
#info-bar {
  background-color: #7a60e9; }
  #info-bar a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 10px; }
    #info-bar a:hover {
      background-color: #0793e2; }
  #info-bar span.all-tutorials,
  #info-bar span.back-to-tutorial {
    display: block;
    width: 50%; }
  #info-bar span.all-tutorials {
    float: left;
    text-align: left; }
  #info-bar span.back-to-tutorial {
    float: right;
    text-align: right; }

  #FooterID {
    position:fixed;
    bottom:0;
    width:100%;
    /*height:40px;    Height of the footer */
    background:#7a60e9;
  }

#addMargin  {
  margin-bottom: 30px;
}

.form-group.required .col-form-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:-5px;
    font-size: 24px;
}
.valid-feedback{
  visibility: hidden;
  height: 0px;
}

.invalid-feedback{
  visibility: visible;
  height: 8px;
  color: #d00;
}


.tile_count {
    margin-bottom: 20px;
    margin-top: 20px
}
.tile_count .tile_stats_count {
    border-bottom: 1px solid #D9DEE4;
    padding: 0 10px 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative
}

@media (min-width: 992px) {
    .tile_count .tile_stats_count {
        margin-bottom: 10px;
        border-bottom: 0;
        padding-bottom: 10px
    }
}
.tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px
}
@media (min-width: 992px) {
    .tile_count .tile_stats_count:first-child:before {
        border-left: 0
    }
}
.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600
}
@media (min-width: 768px) {
    .tile_count .tile_stats_count .count {
        font-size: 40px
    }
}
@media (min-width: 992px) and (max-width: 1100px) {
    .tile_count .tile_stats_count .count {
        font-size: 30px
    }
}
.tile_count .tile_stats_count span {
    font-size: 12px
}
@media (min-width: 768px) {
    .tile_count .tile_stats_count span {
        font-size: 13px
    }
}
.tile_count .tile_stats_count .count_bottom i {
    width: 12px
}

.green {
    color: #1ABB9C
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease
}
.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px
}
.x_title .filter {
    width: 40%;
    float: right
}
.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.x_title h2 small {
    margin-left: 10px
}
.x_title span {
    color: #BDBDBD
}
.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px
}
.x_content h4 {
    font-size: 16px;
    font-weight: 500
}
