{% block content %}
<nav class="navbar navbar-default" id="navigation-purple">
    <div class="container">
        <a href="https://www.linkedin.com/in/ryszard-nikiel-b65a0a102/"><img class="img-responsive img-circle avatar" src="static/img/nikiel.jpg" alt="Avatar"></a>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">CRITERIA</a></li>
                <li><a href="matches_list.html">MATCHES LIST</a></li>
                <li><a href="#">STATISTICS</a></li>
                <li><a href="#">EUROPE MAP</a></li>
            </ul>
        </div>
    </div>
</nav>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
