<html>
    <head>
        <title>UEFA tool</title>
<!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/build/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="/static/css/UEFAtool.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

      {% include "mysite/header.html" %}



                    <div class="col-md-12 col-sm-12 col-xs-12" id="addMargin" style="padding-bottom:30px">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>List of matches</h2>
                          <ul class="nav navbar-right panel_toolbox">

                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <p class="text-muted font-13 m-b-30">for selected criteria</p>

                          <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                              <tr>
                                <th>No</th>
                                <th>Host</th>
                                <th>Country</th>
                                <th>Opponent</th>
                                <th>Country</th>
                                <th>Result</th>
                                <th>Season</th>
                                <th>Cup</th>
                                <th>Stage</th>
                                <th>Penalties</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for match in data %}
                                  <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{match.Team1}}</td>
                                  <td>{{match.country1}}</td>
                                  <td>{{match.Team2}}</td>
                                  <td>{{match.country2}}</td>
                                  <td>{{match.goals1}}-{{match.goals2}}</td>
                                  <td>{{match.matchYear|add:-1}}/{{match.matchYear}}</td>
                                  <td>{{match.matchType}}</td>
                                  <td>{{match.stage}}</td>
                                  <td>{{match.penalties}}</td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>


      {% include "mysite/footer.html" %}

    </body>

    <!-- jQuery -->
    <script src="/static/build/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/build/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/build/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/build/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="/static/build/iCheck/icheck.min.js"></script>
    <!-- DataTables -->
    <script src="/static/build/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/build/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/build/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/build/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/build/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/build/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/build/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/build/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/build/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <!--
    <script src="/static/build/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/build/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/build/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  -->
    <!-- Custom Theme Scripts -->
    <script src="/static/build/custom.min.js"></script>

</html>
